# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [6]:
t1 = (1,2,3,4,5,6,7,8,9,10)
print(t1, type(t1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [12]:
print(t1[0],t1[len(t1)//2],t1[-1])

1 6 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [19]:
print(t1[:3])
print(t1[-3:])
print(t1[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [22]:
t2=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for x in t2:
    print(x)
print(t2[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [25]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)
print(t1.__add__(t2))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [46]:
t = (1,3,2,3,5,1,2,4,5,2)

print(t.count(4))
print(t.index(4))

1
7


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [47]:
t = (1,2,3,4,5)
a,b,c,d,e = t
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [58]:
lst=list(range(1,16))
print(type(tuple(lst)),tuple(lst))

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [60]:
t = ((1,2,3),(4,5,6),(7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [67]:
t = (1,2,3,4,5)
l=list(t)
l.append(6)
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [73]:
t= ('a','b','c')
s = ''.join(t)
print(t, type(t))
print(s, type(s))

('a', 'b', 'c') <class 'tuple'>
abc <class 'str'>

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [76]:
t = ((1,2,3),(4,5,6),(7,8,9))
for i in t:
    for x in i:
        print(x, end=" ")
    print()

1 2 3
4 5 6
7 8 9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [77]:
t = (1,2,1,1,2,2,4,5,6,2,1)
s=set(t)
print(s)

{1, 2, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [82]:
def func(t):
    return min(t),max(t),sum(t)
t=(1,2,3,4,5)
print(func(t))

(-6, 5, 9)